.single-summary-container{
    display: flex;
    margin:50px;
    border: 1px solid grey;
    width: 50%;
    border-radius: 15px;
    background-color:rgba(234, 233, 230, 0.509)
}
.single-summary-container img {
    width: 91px;
    border-radius: 15px;
}
.details-summary{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.info-summary{
width: 60%;
}
button{
    border-radius: 50%;
    border: 1px solid rgb(241, 171, 171);
    background-color:rgb(251, 194, 194);
    padding: 20px;
    font-size: 30px;
    color: red;
    cursor: pointer;
}
button:hover{
    background-color: rgb(251, 178, 178);
}